@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.hardware-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: $space;
    padding-right: $space;
    padding-top: $stage-menu-height;
    height: 100%;
}

.code-editor-wrapper {
	position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-height: 0;
    border: 1px solid $ui-black-transparent;
    box-sizing: border-box;
    border-radius: 0.5rem;
    overflow: hidden;
}

.hardware-console-wrapper {
    /* height: 300px; */
    border: 1px solid $ui-black-transparent;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-top: $space;
    background-color: rgb(249, 249, 249);
    overflow: hidden;
}

.wide-wrapper {
    width: calc(480px + 2px);
}

.narrow-wrapper {
    width: calc(240px + 2px);
}


.button:hover {
    cursor: pointer;
}

.lock-button {
    position: absolute;
    z-index: $z-index-add-button;
    top: -1px;
    right: -1px;
    border: 1px solid $ui-black-transparent;
    background-color: $ui-white;
    height: 34px;
    width: 34px;
    border-radius: 0 0.5rem 0 0.5rem;
    outline: none;
}

.lock-icon{
    height: 16px;
    width: 16px;
}